ramona-fire-recovery/data/boundaries/California_Census_Designated_Places_(CDPs).zip
ramona-fire-recovery/data/boundaries/California_Historic_Fire_Perimeters.zip
ramona-fire-recovery/data/boundaries/cpad_2025a.zip
ramona-fire-recovery/data/boundaries/CA_CDPs.csv
ramona-fire-recovery/data/boundaries/CA_Historic_Fire_Perimeters.xlsx
ramona-fire-recovery/data/processed/landcover/cedar_core_arrays.npz
ramona-fire-recovery/data/processed/landcover/cedar_shrub_change_east_west_summary.csv
ramona-fire-recovery/data/processed/landcover/cedar_shrub_cover_time.csv
ramona-fire-recovery/data/processed/landcover/witch_core_arrays.npz
ramona-fire-recovery/data/processed/landcover/witch_shrub_change_east_west_summary.csv
ramona-fire-recovery/data/processed/landcover/witch_shrub_cover_time.csv
ramona-fire-recovery/data/raw/landcover/Annual_NLCD_LndCov_2024_CU_C1V1.tif
ramona-fire-recovery/data/raw/landcover/Annual_NLCD_LndCov_2024_CU_C1V1.tif.aux.xml
ramona-fire-recovery/data/raw/landcover/Annual_NLCD_LndCov_2024_CU_C1V1.xml
ramona-fire-recovery/data/raw/landcover/Annual_NLCD_LndCov_2024_CU_C1V1.zip
ramona-fire-recovery/data/raw/landcover/rcmap_bundles/Shrub_1998_2010.zip
ramona-fire-recovery/data/raw/landcover/rcmap_bundles/Shrub_2011_2024.zip
ramona-fire-recovery/data/temperature/ncei-climate-ramona.csv
ramona-fire-recovery/data/raw/landcover/rcmap_shrub
